List

In [45]:
#List are used to store multiple items in a single variable.
#create using "[]"
#Duplication is allow
#Mutable (Changeble)
#Indxing Supporting

l1 = [111,2233,3,4,5,11,12,3,5,6,88,77,44,99,78] #Define list
print(l1) #Print list
print(type(l1)) #Print type of defining variable

print(min(l1)) #Return min item in given list

print(max(l1)) #Return max item in given list

[111, 2233, 3, 4, 5, 11, 12, 3, 5, 6, 88, 77, 44, 99, 78]
<class 'list'>
3
2233

In [6]:
#List is a sequntial datatype

li1 = [1,3.14,4,1,True,False,None,'Krupa']
print(li1)

li2 = [40,[4.5,0,False],(5,'Krupa'),5.6,{3.14,'Gopi',True},{'Age':20,'Topic':'List'}]
print(li2)

[1, 3.14, 4, 1, True, False, None, 'Krupa']
[40, [4.5, 0, False], (5, 'Krupa'), 5.6, {True, 3.14, 'Gopi'}, {'Age': 20, 'Topic': 'List'}]

In [17]:
#Indexing - [start(0):stop(n-1):step(1)]

li = [1,3.14,True,False,'Krupa',None]
print(li[5])
print(li[-1])
print(li[::2])
print(li[::3])
print(li[2:])
print(li[::])
print(li[::-1])
print(li[2:6:3])

None
None
[1, True, 'Krupa']
[1, False]
[True, False, 'Krupa', None]
[1, 3.14, True, False, 'Krupa', None]
[None, 'Krupa', False, True, 3.14, 1]
[True, None]

In [18]:
li = [1,5j,[1,2,3],[4,5,6]]
print(li)
li[2] = 3.4 #Replace item by using index
print(li)

[1, 5j, [1, 2, 3], [4, 5, 6]]
[1, 5j, 3.4, [4, 5, 6]]

In [21]:
li = [1,5j,[1,2,3],[4,5,6]]
print(li[3][2])
print(li[3][:2])
print(li[2][1:])

6
[4, 5]
[2, 3]

List Functions

In [27]:
li = [1,3.14,3j,'string',True,False,None]

li.insert(2,34) #In insert fun 1st arg is index_no and 2nd arg is item
print(li)

li.remove(3j) #Removing 3j item
print(li)

li.reverse() #Reversing list
print(li)

li.append('Krupa') #In append fun whatever item is there that is add in last of given list
print(li)

[1, 3.14, 34, 3j, 'string', True, False, None]
[1, 3.14, 34, 'string', True, False, None]
[None, False, True, 'string', 34, 3.14, 1]
[None, False, True, 'string', 34, 3.14, 1, 'Krupa']

In [31]:
li1 = [1,3.14,5j,'string']
li2 = [True,False,None]

li2.extend(li1) #Add li1 item in last of li2
print(li2)

[True, False, None, 1, 3.14, 5j, 'string']

In [33]:
li1 = [1,3.14,5j,'string']
li2 = [True,False,None]

li3 = li1 + li2 #Merge both list
print(li3)

li3 = li2 + li1
print(li3)

[1, 3.14, 5j, 'string', True, False, None]
[True, False, None, 1, 3.14, 5j, 'string']

In [34]:
li = [1,3.14,5j,'string']
li.pop() #By default pop last item
li

[1, 3.14, 5j]

In [35]:
li = [1,3.14,5j,'string']
li.pop(0) #pop item at 0th index
li

[3.14, 5j, 'string']

In [36]:
li = [1,3.14,5j,'string']
li.pop(-2) #pop item at -2 index
li

[1, 3.14, 'string']

In [37]:
li = [4,6.7,4,8,9,0,0.4,2,4,56,12,59,3.4]
li.sort() #Sorting list iteams
li

[0, 0.4, 2, 3.4, 4, 4, 4, 6.7, 8, 9, 12, 56, 59]

In [38]:
li = [4,6.7,4,8,9,0,0.4,2,4,56,12,59,3.4]
li.sort(reverse=True) #Sorting list iteams and then reverse iteams
li

[59, 56, 12, 9, 8, 6.7, 4, 4, 4, 3.4, 2, 0.4, 0]

In [39]:
li = ['K','r','u','p','a']
print('/'.join(li))

K/r/u/p/a

In [40]:
a = int(input('Enter a mum: ')) #Take user input
print(a)

16

In [43]:
a = 10
print(a)

a = int(input('Enter a mum: ')) 
print(a)

10
23

Tuple

In [46]:
#Tuple is used to store multiple items in a single variable.
#Create using "()"
#Collection in ordered
#Immutable (Unchangeable)
#Indexing Supporting

tp =(1,2,3,) #Define tuple
print(tp) #Print tuple
print(type(tp)) #Print type of defining variable

(1, 2, 3)
<class 'tuple'>

In [47]:
#Tuple is a sequntial datatype
tp = (50,[13,4.5,6],(3,'Krupa'),{2.3,True,'Gopi'},{2:'Apple'})
tp

(50, [13, 4.5, 6], (3, 'Krupa'), {2.3, 'Gopi', True}, {2: 'Apple'})

In [60]:
#Indexing in Tuple

print(tp[0])
print(tp[2::2])
print(tp[-1:-6:-1])
print(tp[-4:6:3])
print(tp[2][1])
#print(tp[3][0]) - We can not print any set or dict in tuple by indixing it gives type error

50
((3, 'Krupa'), {2: 'Apple'})
({2: 'Apple'}, {True, 2.3, 'Gopi'}, (3, 'Krupa'), [13, 4.5, 6], 50)
([13, 4.5, 6], {2: 'Apple'})
Krupa

Tuple Function

In [61]:
tp = (1,2,3,4,1,2,1,4,5)
print(tp.count(1)) #It count how many times item repeating

3

In [63]:
print(max(tp)) #Return max item

print(min(tp)) #Return min item

5
1

In [66]:
tp.index(3) #Return index of item

2

In [67]:
print(len(tp)) #Retuen length of tuple

9

In [71]:
tp1 = (1,2,3)
tp2 = (4,5,6)
tp1 += tp2 #Means tp1 = tp1 + tp2 adding tp2 items in tp1 in last
print(tp1)

(1, 2, 3, 4, 5, 6)

In [70]:
tp1 = (1,2,3)
tp2 = (4,5,6)
tp2 += tp1 #Means tp2 = tp2 + tp1 adding tp1 items in tp2 in last
print(tp2)

(4, 5, 6, 1, 2, 3)

In [72]:
tp = (1,2,3)
tp1 = tp*2 #Repeating tuple iteams
tp1

(1, 2, 3, 1, 2, 3)

In [74]:
tp = (1,2,3)
print(type(tp))

tp1 = list(tp) #Typecasting
print(tp1)
tp1.append(34)
print(tp1)
print(type(tp1))

tp2 = tuple(tp1)
print(tp2)
print(type(tp2))

<class 'tuple'>
[1, 2, 3]
[1, 2, 3, 34]
<class 'list'>
(1, 2, 3, 34)
<class 'tuple'>

Set

In [79]:
#Set is used to store multiple items in a single variable.
#Create using "{}"
#Mutable (Changeable)
#Duplication not allow
#Indexing not Supporting
#Always Give sort data

a = {3,2,4,2,5,8,4,9,6} #Define set
print(a) #Print set

{2, 3, 4, 5, 6, 8, 9}

In [82]:
a = {'c','b','a','d'}
print(a)

{'a', 'c', 'b', 'd'}

Set Function

In [84]:
a = {1,2,3}
b = {2,3,4,5,6,7,8}
a.union(b) #Merge both set

{1, 2, 3, 4, 5, 6, 7, 8}

In [85]:
a = {1,2,3,4,'hy'}
b = {2,3,4,'Krupa',1}
a.intersection(b) #Print same item in both set

{1, 2, 3, 4}

In [86]:
a = {1,2,3}
b = {2,3,4}
a.symmetric_difference(b) #Print item of a and b that is not same

{1, 4}

In [87]:
a = {1,2,4}
a.add(0) #Add 0 in set
a

{0, 1, 2, 4}

In [88]:
a = {1,2,3}
a.update({4,5,6}) #Adding 4,5,6 in set
a

{1, 2, 3, 4, 5, 6}

In [89]:
a = {1,2,4,3}
a.remove(3) #Removing 3 in set
a

{1, 2, 4}

In [90]:
a = {1,2,3}
a.clear() #Clear set
a

set()

In [91]:
a = {1,2,3,4,5,6,7}
print(a)
a.pop() #Remove first item
print(a)

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}

In [92]:
li = [3,5.7,'Krupa',False,None]
print(li)
print(type(li))

a = set(li)
print(a)
print(type(a))

[3, 5.7, 'Krupa', False, None]
<class 'list'>
{False, 3, 'Krupa', 5.7, None}
<class 'set'>

Dictionary

In [1]:
#Dictionary is used to store data value in KEY:VALUE pairs.
#Key must be unique
#Value duplication is allow
#Python 3.7 is unordered but python 3.6 is ordered
#Indexing Supporting

a = {'a':123, 'b':45, 46:'Krupa'} #Define dict
print(a) #Print dict

{'a': 123, 'b': 45, 46: 'Krupa'}

In [2]:
a = {1:[1,2,3], 'b':(1,2,3), 'c':{1,2,3}}
print(a)

{1: [1, 2, 3], 'b': (1, 2, 3), 'c': {1, 2, 3}}

In [4]:
print(len(a)) #Print length of dict

3

In [5]:
a = {'Krupa':{'hight':150, 'weight':48}, 'Gopi':{'hight':170, 'weight':45}}
print(a['Gopi']) #Print value of given key

{'hight': 170, 'weight': 45}

In [6]:
d = {'a':123, 'b':45, 46:12}
print(d['a'])
print(d[46])
d[46] = 'Krupa' #Define new value of key 46
print(d)

123
12
{'a': 123, 'b': 45, 46: 'Krupa'}

In [8]:
a = {'Krupa':{'hight':150, 'weight':48}, 'Gopi':{'hight':170, 'weight':45}}
print(a['Krupa']['hight'])
a['Gopi']['weight'] = 90
a['Janvi'] = {'hight':170, 'weight':80}
print(a)

150
{'Krupa': {'hight': 150, 'weight': 48}, 'Gopi': {'hight': 170, 'weight': 90}, 'Janvi': {'hight': 170, 'weight': 80}}

Dict Function

In [10]:
a = {'a':123, 'b':45, 'Rup':100}
a.keys() #Retriving key of dict

dict_keys(['a', 'b', 'Rup'])

In [11]:
a = {'a':123, 'b':45, 'Rup':100}
a.items() #Retriving items of dict

dict_items([('a', 123), ('b', 45), ('Rup', 100)])

In [12]:
a = {'a':123, 'b':45, 'Rup':100}
a.values() #Retriving value of dict

dict_values([123, 45, 100])

In [13]:
a = {'a':123, 'b':45, 'Rup':100}
a.update({'c':67}) #Adding new key value pair
a

{'a': 123, 'b': 45, 'Rup': 100, 'c': 67}

In [14]:
a = {'x':123, 'y':45, 46:'z'}
a.popitem() #Removing last key value pair
a

{'x': 123, 'y': 45}

In [16]:
a = {'x':123, 'y':45, 46:'z'}
a.clear() #Clear dict
a

{}

In [17]:
name = {'Krupa', 'Gopi', 'Janvi'}
age = {23,24,25}
d = dict.fromkeys(name, age) #Make dict of name and age set
print(d)

{'Krupa': {24, 25, 23}, 'Janvi': {24, 25, 23}, 'Gopi': {24, 25, 23}}

In [19]:
d1 = {'name':'Krupa', 'age':20, 'subject':'python'}
print(type(d1))
print(d1)
print(d1.keys())
print(d1.values())
print(d1.items())
d1.update({'std':12})
d1.update({'std1':123})
print(d1)

<class 'dict'>
{'name': 'Krupa', 'age': 20, 'subject': 'python'}
dict_keys(['name', 'age', 'subject'])
dict_values(['Krupa', 20, 'python'])
dict_items([('name', 'Krupa'), ('age', 20), ('subject', 'python')])
{'name': 'Krupa', 'age': 20, 'subject': 'python', 'std': 12, 'std1': 123}

Python Conditions

In [20]:
#Equals: a == b
#Not Equals: a != b
#Less than: a < b
#Less than or equal to a <= b
#Greater than: a > b
#Greater than or equal to a >= b

If Statements

In [21]:
#An if statement is written by using "if" keyword.
#Indentation - Python relies on indentation (white space at the beginning of a line) to define scope in the code.
#Other programming language often use {} for this purpose.

In [25]:
a = 50
b = 46
if a < b:
    print('a is max')

In [26]:
a = 50
b = 46
if a > b:
    print('a is max')
    print('b is min')

a is max
b is min

If Else

In [27]:
a = 50
b = 46
if a < b:
    print('a is max')
else:
    print('b is max')

b is max

Short Hand If

In [29]:
a = 50
b = 46
if a > b: print('a is max')

a is max

Short Hand If Else

In [34]:
a = 50
b = 46
print('a is max') if a > b else print('b is max')

a is max

If Elif Else

In [35]:
a = 52
b = 52
if a > b:
    print('a is max')
elif a < b:
    print('b is max')
elif a == b:
    print('Equal Numbers')
else:
    print('Invalid Numbers')

Equal Numbers

In [ ]:
a = input('1 for Pizza\n2 for Burger\n3 for Panipuri\n4 for Pasta\nEnter Number: ')

if a == '1':
    print('Pizza')
elif a == '2':
    print('Burger')
elif a == '3':
    print('Panipuri')
elif a == '4':
    print('Pasta')
else:
    print('Invalid Input')

Invalid Input

And (Logical Operator)

In [47]:
a = 200
b = 300
c = 500
if a < b and b < c: #Both condition must be true for print 'c is max'
    print('c is max')

c is max

Or (Logical Operator)

In [49]:
a = 200
b = 200
c = 500
if a == b or b == c: #At least one condition must be true for print 'a,b,c is equal'
    print('a,b,c is equal')

Nested If

In [53]:
#If statement inside if stateent this is called if statement.

a = int(input('Enter Number:'))
if a > 10:
    if a < 20:
        print('a is between 10 and 20')
    else:
        print('a is above 20')
else:
    print('a is below 10')

a is between 10 and 20

Exaples

In [56]:
#Check Odd or Even

a = int(input('Enter any integer Number:'))
if a == 0:
    print('Nither odd or even')
elif a % 2 == 0:
    print('a is even')
else:
    print('a is odd')

Nither odd or even

In [58]:
#Check year is leap year or not

a = int(input('Enter the Year:'))
if a % 4 == 0:
    print(a,'is leap year')
else:
    print(a,'is not leap year')

2004 is leap year

In [63]:
#Give grade upon marks

x = float(input('Enter your marks: '))
if x>90 and x<=100:
    print('A+ Grade')
elif x>80 and x<=90:
    print('A Grade')
elif x>70 and x<=80:
    print('B Grade')
elif x>60 and x<=70:
    print('C Grade')
elif x>50 and x<=60:
    print('D Grade')
elif x>40 and x<=50:
    print('E Grade')
elif x>0 and x<=40:
    print('Sorry, you are Failed...')
else:
    print('Enter valid marks')

D Grade

In [66]:
#Design a Calculator

a = float(input('Enter First Number: '))
b = float(input('Enter Second Number: '))
c = int(input('1 for Addition\n2 for Subtraction\n3 for Multiplication\n4 for Division\nChoose a Number: '))
if c == 1:
    print('Addition of',a,'and',b,'is: ',a+b)
elif c == 2:
    print('Subtraction of',a,'and',b,'is: ',a-b)
elif c == 3:
    print('Multiplication of',a,'and',b,'is: ',a*b)
elif c == 4:
    print('Division of',a,'and',b,'is: ',a/b)
else:
    print('Invalid Input')

Multiplication of -56.0 and -9.7 is:  543.1999999999999

Randon Function

In [72]:
import random
a = ['Krupa','Gopi',12,3.14,True,'Janvi']
b = random.choices(a) #Choose random item in a
print(b)

['Janvi']

User Define Functions

In [1]:
#UDF is used to make on your function for any purpose.
#UDF is defined by "def" keyword.
#Syntax -   def fun_name(optional argument): --> Function Definition
                #Code (Logic Part) --> Body of Function
            #fun_name() --> Function Call

def my_fun(): #Function Definition
    print('Hellooo!!') #Body of Function
my_fun() #Function Call

Hellooo!!

In [2]:
def my_fun(*kids):
    print('The biggest child is '+kids[1]) #1 is index number
my_fun('Gopi','Krupa','Mukund')

The biggest child is Krupa

In [7]:
def my_fun(**kids):
    print('The biggest child is '+kids['n2'])
my_fun(n1='Gopi',n2='Krupa',n3='Mukund')

The biggest child is Krupa

In [10]:
def my_fun(c1,c2,c3):
    print('The youngst child is '+c3)
my_fun(c1='abs',c2='dfg',c3='rty')

The youngst child is rty

In [13]:
def my_fun(x):
    return print(2*x)
my_fun(3)

6

In [20]:
def my_fun(k):
    if k > 0:
        return k*k
    else:
        return 0
my_fun(4)

16

In [24]:
def my_fun():
    pass

In [30]:
#UDF with no arg, no return type

n1 = int(input('Enter n1: '))
n2 = int(input('Enter n2: '))

def add():
    res = n1+n2
    print(res)
add()

5

In [33]:
#UDF with arg, no return type

n1 = int(input('Enter n1: '))
n2 = int(input('Enter n2: '))

def add(n1,n2):
    res = n1+n2
    print(res)
add(n1,n2)

6

In [34]:
#UDF with no arg, with return type

n1 = int(input('Enter n1: '))
n2 = int(input('Enter n2: '))

def add():
    res = n1+n2
    return res
add()

7

In [35]:
#UDF with arg, with return type

n1 = int(input('Enter n1: '))
n2 = int(input('Enter n2: '))

def add(n1,n2):
    res = n1+n2
    return res
add(n1,n2)

9

Loop Structure

In [5]:
for x in 'Banana':
    print(x)

B
a
n
a
n
a

In [1]:
fruits = ['Banana', 'Apple', 'Orange']
for x in fruits:
    print(x)

Banana
Apple
Orange

In [3]:
for x in fruits:
    print(x)
    if x=='Apple':
        break

Banana
Apple

In [4]:
for x in fruits:
    if x=='Apple':
        break
    print(x)

Banana

In [6]:
for x in fruits:
    print(x)
    if x=='Apple':
        continue

Banana
Apple
Orange

In [7]:
for x in fruits:
    if x=='Apple':
        continue
    print(x)

Banana
Orange

In [9]:
for x in range(4):
    print(x)

0
1
2
3

In [10]:
for x in range(2,8):
    print(x)

2
3
4
5
6
7

In [12]:
for x in range(4,50,10):
    print(x)
else:
    print('Finished')

4
14
24
34
44
Finished

In [13]:
a = ['we','ef','fe','rf']
b = ['eff','ett','err','egg']
for x in a:
    for y in b:
        print(x,y)

we eff
we ett
we err
we egg
ef eff
ef ett
ef err
ef egg
fe eff
fe ett
fe err
fe egg
rf eff
rf ett
rf err
rf egg

In [14]:
names = ['Krupa','Gopi','Mukund','Janvi']
names

['Krupa', 'Gopi', 'Mukund', 'Janvi']

In [15]:
names[2]

'Mukund'

In [16]:
len(names)

4

In [23]:
names.append('Jeel')
names

['Krupa', 'Gopi', 'Mukund', 'Janvi', 'Jeel']

In [24]:
names.pop()
names

['Krupa', 'Gopi', 'Mukund', 'Janvi']

In [25]:
names.pop(0)
names

['Gopi', 'Mukund', 'Janvi']

In [26]:
names.remove('Mukund')

In [27]:
names

['Gopi', 'Janvi']

In [28]:
x = lambda a:a+2
print(x(2))

4

In [29]:
x = lambda a,b:a/b
print(x(16,4))

4.0

In [30]:
x = lambda a,b,c:a+b+c
print(x(3,5,6))

14

In [31]:
def my_fun(x):
    return lambda a:a*x
mydoubler = my_fun(3)
print(mydoubler(2))

6

In [32]:
def my_fun(x):
    return lambda a:a*x
mydoubler = my_fun(3)
mytripler = my_fun(4)
print(mydoubler(2))
print(mytripler(3))

6
12

In [37]:
x = 0
while x<10:
    print(x)
    x+=2

0
2
4
6
8